<!DOCTYPE html>
<html lang="en">
<body>
    <h1> {{caname}} </h1>
    <h3>Select action</h2>
    <form action="." method="POST">
        <input type="radio" name="ca_op" value="dispcpcps">Display CA CP/CPS<br>
        <input type="radio" name="ca_op" value="dispcacert">Display CA certificate<br>
        <input type="radio" name="ca_op" value="dispsigningpolicy">Display CA signing policy<br>
        <input type="radio" name="ca_op" value="listsignedcerts">List signed certificates<br>
        <input type="radio" name="ca_op" value="listrevoked">List revoked certificates<br>
        <input type="submit" name="main" value="Submit">
    </form>
</body>
</html>
